.open .top, .open .bottom {
  display: flex;
  justify-content: space-around;
}
.open .top article .img, .open .bottom article .img {
  background-size: cover;
  background-position: center;
}
.open .top article .i1, .open .bottom article .i1 {
  width: 540px;
  height: 400px;
  background-image: url("../img/sub02_place/op_i1.png");
  margin-left: auto;
}
.open .top article .i2, .open .bottom article .i2 {
  width: calc((100vw - 1080px) / 2 + 540px);
  height: 320px;
  background-image: url("../img/sub02_place/op_i2.png");
}
.open .top article .segment, .open .bottom article .segment {
  width: 340px;
  height: 240px;
  background-color: #693;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 40px 0;
  position: absolute;
  left: 0;
  bottom: -60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.open .top article .segment h4, .open .bottom article .segment h4 {
  font-weight: bold;
}
.open .top article .segment p, .open .bottom article .segment p {
  margin-top: 40px;
  height: 80px;
  overflow: hidden;
}
.open .top .atLeft, .open .bottom .atLeft {
  width: 610px;
  position: relative;
}
.open .top .atRight, .open .bottom .atRight {
  width: 430px;
  padding-top: 80px;
}
.open .bottom article {
  width: 250px;
  position: relative;
}
.open .bottom article .img {
  height: 240px;
}
.open .bottom article .i3 {
  background-image: url("../img/sub02_place/op_i3.png");
}
.open .bottom article .i4 {
  background-image: url("../img/sub02_place/op_i4.png");
}
.open .bottom article .i5 {
  background-image: url("../img/sub02_place/op_i5.png");
}
.open .bottom article .i6 {
  background-image: url("../img/sub02_place/op_i6.png");
}
.open .bottom article button {
  display: block;
  width: 110px;
  height: 40px;
  background-color: #f90;
  border-radius: 10px;
  font-size: 14px;
  color: #000;
  border: none;
  font-weight: bold;
  margin: 0 auto;
  margin-top: -20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.place section article {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row-reverse;
}
.place section article .image {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.place section article .image .img {
  width: 700px;
  height: 320px;
  overflow: hidden;
}
.place section article .image .img li {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.place section article .image .i1 {
  background-image: url("../img/sub02_place/pl_i1.png");
}
.place section article .image .i2 {
  background-image: url("../img/sub02_place/pl_i2.png");
}
.place section article .image .i3 {
  background-image: url("../img/sub02_place/pl_i3.png");
}
.place section article .image .i4 {
  background-image: url("../img/sub02_place/pl_i4.png");
}
.place section article .image .i5 {
  background-image: url("../img/sub02_place/pl_i5.png");
}
.place section article .image .i6 {
  background-image: url("../img/sub02_place/pl_i6.png");
}
.place section article .image .i7 {
  background-image: url("../img/sub02_place/pl_i7.png");
}
.place section article .image .i8 {
  background-image: url("../img/sub02_place/pl_i8.png");
}
.place section article .image .i9 {
  background-image: url("../img/sub02_place/pl_i9.png");
}
.place section article .image .btns {
  float: right;
  margin-top: -180px;
  padding-right: 10px;
}
.place section article .image .btns .b1 {
  font-size: 40px;
  height: 80px;
  color: #fff;
  cursor: pointer;
}
.place section article .segment {
  width: 610px;
  height: 240px;
  border-radius: 10px;
  text-align: right;
  padding: 40px 60px;
  margin-right: -220px;
  margin-top: 40px;
  background-color: rgba(255, 255, 153, 0.8);
  background: linear-gradient(-30deg, #ea5a6f 0%, #de791e 50%, #fccf3a 100%);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.place section article .segment h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}
.place section article .segment p {
  margin-top: 20px;
}
.place section article:first-child ~ * {
  margin-top: 40px;
}
.place section .reverse {
  flex-flow: row;
}
.place section .reverse .segment {
  margin-left: -220px;
  margin-right: 0;
  text-align: left;
}
.place section .reverse .image .btns {
  float: left;
  padding-left: 10px;
}

.other section {
  display: flex;
  justify-content: space-around;
}
.other section article {
  width: 520px;
}
.other section article .img, .other section .open .bottom article .img, .open .bottom .other section article .img {
  height: 240px;
  background-size: cover;
  background-position: center;
}
.other section article .i1 {
  background-image: url("../img/sub02_place/ot_i1.png");
}
.other section article .i2 {
  background-image: url("../img/sub02_place/ot_i2.png");
}
.other section article .segment {
  width: 520px;
  background-color: #363;
  padding: 40px 20px;
  text-align: center;
}
.other section article .segment h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 80px;
  color: #fff;
}
.other section article .segment p {
  font-size: 18px;
  height: 80px;
  color: #ccc;
}
.other section article:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=sub02_place.css.map */
